
# Git will ignore these files/folders and not track any changes made to them.
# Most of these are files that the IDE generates when building the app or for user-specific details.


# Common
.DS_Store
Thumbs.db


# Eclipse
#.settings/
#assets/
bin/
#gen/
proguard/
#.classpath
#.project

*.docx